<label class="project_label"
    style=" background-color: {{background-color}};
            color: {{text-color}} "
           data-background-color="{{background-color}}"
           data-text-color="{{text-color}}" >

    <input type="checkbox" value="{{@key}}" {{#if checked}}checked{{/if}} >
    {{@key}}
</label>