<div class="post" data-title="{{title}}" data-downloads="{{downloads}}" data-tags="{{#each tags}}{{@key}},{{/each}}">
    <div class="post-contents">
        <div class="post-title-position">
            <a href="/projects/{{#if @key}}{{@key}}{{else}}{{#if projectID}}{{projectID}}{{else}}DEFAULT{{/if}}{{/if}}" class="post-title">{{title}}</a>
        </div>
        <div class="post-image-container">
            <a href="/projects/{{@key}}"><img src="/project/{{#if @key}}{{@key}}{{else}}{{#if projectID}}{{projectID}}{{else}}DEFAULT{{/if}}{{/if}}.png" alt="{{title}} post-image"></a>
        </div>
        <div class="post-tags-container">
            {{#each tags}}
                <span>{{> label}}</span>
            {{/each}}
        </div>
        <div class="post-info-container">
            <span class="build-num">Downloads: {{downloads}}</span>

            {{#if builds}}
                <span class="build-num builds">Builds: {{builds}}
                    <!--                    <i class='fa fa-bars'></i>-->
                    <i class='fa fa-hammer'></i>
                </span>
            {{/if}}
        </div>
    </div>
</div>