<div class="post">
    <div class="post-contents">
        <div class="post-title-position">
            <a href="/projects/{{@key}}" class="post-title">{{title}}</a>
        </div>
        <div class="post-image-container">
            <a href="/projects/{{@key}}" class="post-title"><img src="/project/{{@key}}.png" alt="{{title}} post-image"></a>
        </div>
        <div class="post-tags-container">
            {{#each tags}}
                <span>{{>label}}</span>
            {{/each}}
        </div>
        <div class="post-info-container">
            <span class="build-num">Downloads: {{downloads}}</span>
        </div>
    </div>
</div>