<div class="projectPage-body">
    <h1 class="projectPage-title">{{title}}</h1>
    <div class="projectPage-project-description">Project Description
        <p class="projectPage-description-content">{{description}}</p>
    </div>

    <div class="projectPage-project-details">
        <div class="projectPage-project-details-title">Project Details</div>
        <img src="/project/{{projectID}}.png" class="projectPage-image" alt="the project could not be retrieved">
        <div class="labels projectPage-labels">
            {{#each tags}}
                <span>{{> label}}</span>
            {{/each}}
        </div>

        <div>
            <div class="projectPage-downloads">Downloaded: {{downloads}} times</div>

            {{#if builds}}
                <div class="projectPage-builds">Built: {{builds}} times
<!--                    <i class='fa fa-bars'></i>-->
                    <i class='fa fa-hammer'></i>
                </div>
            {{/if}}

            <div class="projectPage-projectId">Project Id: <span id="clipboard_value">{{projectID}}</span></div>
            <button id="clipboard_button" value="Copy ID" class="projectPage-copyId-button"></button>
        </div>


        {{#if parentProjectID}}
            <div class="projectPage-remix">
                <a href="../projects/{{parentProjectID}}" class="projectPage-remix-text pp">Parent project: {{parentProjectID}}</a>
            </div>
        {{/if}}

<!--        <div class="projectPage-remix"><a href="../edit/{{projectID}}" class="projectPage-remix-text">Remix this project</a></div>-->


        <div class="publish-and-download-button projectPage-remix-and-downloads">
            <a href="../edit/{{projectID}}" class="projectPage-remix-text" id="postProject">Remix this project</a>
            <a href="../project/{{projectID}}.plan/?download=true" download="{{title}}.plan" id="download-changes-button" class="projectPage-download-plan-text">Download .plan</a>
        </div>

    </div>

</div>